.contact-links {
  text-decoration: none;
  color: var(--charcoal);
}
.contact-links:hover {
  text-decoration: underline;
}
.back-to-top a {
  color: var(--charcoal);
  text-decoration: none;
}

@media (max-width: 450px) {
  .contact-links {
    font-size: 18px;
  }
}
