.navbar-left {
  font-family: "Caveat", cursive;
}
.nav-links,
.nav-dropdown {
  font-family: "Poppins", sans-serif;
  text-align: end;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-dropdown a {
  color: var(--charcoal);
}

@media (max-width: 450px) {
  .dropdown-menu {
    position: inherit;
    text-align: right;
    border: none;
  }
}
